p{
    font-family: Roboto, Arial;
    margin-top:0;
    margin-bottom: 0;
}
.thumbnail{
    width:100%;
    border-radius: 10px;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px ;
    padding-right: 24px;
    background-color: rgb(252, 249, 249);

}
